{% extends './base.html' %}

{% block content %}
{% if user.is_authenticated %}

<div class="container">
    <h2> POST </h2>
        <form method="post" enctype="multipart/form-data">
         {% csrf_token %}
            <div class="editor">
                 <br>
<!--{# FORM FIELDS  #}-->
                <label for="title">title</label> <input type="text" name="title" maxlength="100" placeholder="Enter title" id="id_title">
                 <p>{{form.author}}</p>
                <label for="body"></label><textarea name="body" cols="40" rows="10" id="id_body" placeholder="Enter content"></textarea>
                <div class="file-upload">
                    <label for="file"></label><input type="file" name="file" id="id_file">
                </div>
                <br><br>
            </div>
<!--{# SUBMIT BUTTON#}-->
            <div class="submit">
                <input type="reset" value="reset">
                <input type="submit" name="submit"  value="submit" onclick="return validate()"/>
            </div>
        </form>
    <div class="btn_back">
        <br><br>
        <a href="/notice-board/">Return to post list</a>
    </div>
</div>

{% else %}
<h1>You are not allowed to post, Please login</h1>
{% endif%}


<!--{# JAVA SCRIPT #}-->
    <script type="text/javascript">
    window.addEventListener("load", function(){
        let form = document.querySelector("form");
            form.addEventListener("submit", function(event) {
                let title = document.querySelector("input[name=title]");
                let body = document.querySelector("textarea[name=body]");

                    if(title.value === ""){
                        alert("타이틀 입력");
                        title.focus();
                        return false;
                    }

                    else if(body.value === ""){
                        alert("내용 입력");
                        title.focus();
                        return false;
                    }
            });
    });


    let name = "{{ user.id }}";
    document.getElementById("id_author").value = name;
    document.getElementById("id_author").style.visibility= "hidden";


    </script>

{% endblock content %}