
{% load pagination_extras %}
{% block title %}notice board{% endblock %}

{% block body %}
    <!-- post list -->
    <div class="btn_post">
        <h3><a href="{% url 'board:notice-board' %}"> Post List for test</a> | <a href="{% url 'board:post-create'%}"> Post </a> </h3>
        <hr>
    </div>

    {% if object_list.exists %}
    <table class="table">
            <tr>
              <th>#</th>
              <th>POST ID</th>
              <th>title</th>
              <th>file</th>
              <th>author</th>
              <th>date</th>
            </tr>
        <tbody>
            <tr>
        {% for post in object_list %}
              <td> {% pagination_reverse_numbering paginator page_obj forloop.counter0 %} </td>
              <td> {{ post.id }} </td>
              <td style="text-align:left"><a href="{% url 'board:post-detail' post.id %}">
                    {{ post.title|truncatechars:80 }}</a></td>
              {% if post.file %}
                <td> Y </td>
              {% else %}
                <td> N/A </td>
              {% endif %}
              <td>{{ post.author.username }}</td>
              <td>{{ post.post_date|date:'Y-m-d'}}</td>
            </tr>
        </tbody>
        {% endfor %}

    {% else %}
        No post yet.
    {% endif %}

    </table>

<!--PAGINATION start -->
<div class="row justify-content-md-center ">
    <div class="col-md-8">
      {% if is_paginated %}
<!-- Previous -->
          {% if page_obj.has_previous %}
             <a class="btn-sm mb-4 page-btn" href="?page=1">First</a>
             <a class="btn-sm mb-4 page-btn" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
          {% endif%}
<!-- List -->
          {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                  <a class="btn-sm page-active mb-4" href="?page={{ num }}">{{ num }}</a>
              {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
                  <a class="btn-sm mb-4 page-btn" href="?page={{ num }}">{{ num }}</a>
              {% endif %}
          {% endfor %}
<!--   Next       -->
          {% if page_obj.has_next %}
             <a class="btn-sm mb-4 page-btn" href="?page={{ page_obj.next_page_number}}">&raquo;</a>
             <a class="btn-sm mb-4 page-btn" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
          {% endif%}
      {% endif %}
    </div>
</div>
<!--PAGENATION end-->

<!-- FILTER -->
    <form method="get" class="form-style">
        <div class="search-bar">

            <label for="id_title__icontains"> search </label>
            <input type="text" name="title__icontains" class="form-control is-valid form-style" placeholder="enter text" title="" id="id_title__icontains">

            <label for="id_body__icontains">by content</label>
            <input type="text" name="body__icontains" class="form-control is-valid" placeholder="enter text" title="" id="id_body__icontains">

            <input class="btn btn-primary" type="submit" name="btnsubmit" value="search">
            <input type="reset" value="reset" style="padding: 4px;">


        </div>
            <br>
    </form>

<style>
    table {
        width: 100%;
        text-align: center;

        border-collapse: collapse;
      }
    th, td {
        padding: 10px;

      }

</style>

{% endblock body %}
