
{% load pagination_extras %}
{% block title %}notice board{% endblock %}

{% block body %}
    <!-- post list -->
    <div class="btn_post">
        <h3><a href="{% url 'board:notice-board' %}"> Post List </a> | <a href="{% url 'board:post-create'%}"> Post </a> </h3>
        <hr>
    </div>

    {% if object_list.exists %}
    <table class="table">
            <tr>
              <th>#</th>
              <th>POST ID</th>
              <th>title</th>
              <th>file</th>
              <th>author</th>
              <th>date</th>
            </tr>
        <tbody>
            <tr>
        {% for post in object_list %}
              <td> {% pagination_reverse_numbering paginator page_obj forloop.counter0 %} </td>
              <td> {{ post.id }} </td>
              <td style="text-align:left"><a href="{% url 'board:post-detail' post.id %}">
                    {{ post.title|truncatechars:80 }}</a></td>
              {% if post.file %}
                <td> Y </td>
              {% else %}
                <td> N/A </td>
              {% endif %}
              <td>{{ post.author.username }}</td>
              <td>{{ post.post_date|date:'Y-m-d'}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>

        <div class="paginator">
        <hr>
            {% if page_obj.has_previous %}
                <a href="?page=1" class="first">first</a>
                <a href="?page={{page_obj.previous_page_number}}" class="prev">prev</a>
            {% endif %}

            <span class="page">
                <p>{{page_obj.number}} of {{page_obj.paginator.num_pages}}</p>
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{page_obj.next_page_number}}" class="next">next</a>
                <a href="?page={{page_obj.paginator.num_pages}}" class="last">last</a>
            {% endif %}
        </div>
        <br>

    {% else %}
        <div class="blank">
            <p>No post yet.</p>
        </div>
    {% endif %}

<!-- FILTER -->

    <form method="get" class="form-style">
        <div class="search-bar">

            <label for="id_title__icontains"> search </label>
            <input type="text" name="title__icontains" class="form-control is-valid form-style" placeholder="enter text" title="" id="id_title__icontains">

            <label for="id_body__icontains">by content</label>
            <input type="text" name="body__icontains" class="form-control is-valid" placeholder="enter text" title="" id="id_body__icontains">

            <input class="btn btn-primary" type="submit" name="btnsubmit" value="search">
            <input type="reset" value="reset" style="padding: 4px;">


        </div>
            <br>
    </form>

<style>
    table {
        width: 100%;
        text-align: center;

        border-collapse: collapse;
      }
    th, td {
        padding: 10px;

      }

</style>

{% endblock body %}
